#slide1 {
    
}

.videoContainer {
    display: block;
    padding: 0;
    margin:  0;

}

#snapshotContainer {
    position: absolute;
    right: 1%;
    top: 20%;
}


video, .snapshot, .videoContainer  {
    width: 320px;
    height: 180px;
    padding:  0;
    margin:  0;
}

