#slide1 {
    
}


#snapshotContainer {
    position: absolute;
    right: 10%;
    top: 20%;
}

.snapshot  {
    padding:  0;
    margin:  0;
}

#slide1 video  {
    width: 50%;
    height: 50%;
    padding:  0;
    margin:  0;
}

